<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View book</title>
    <link href="../static/styles.css" rel="stylesheet" th:href='@{/styles.css}'>
    <script src="../static/common.js" th:src='@{/common.js}'></script>
    <script src="../static/book_single.js" th:src='@{/book_single.js}'></script>
</head>
<body>

<h3>Book details</h3>

<div th:insert="~{top_menu :: top_menu}"></div>

<div>
    <span>ID: </span>
    <span id="book-id"></span>
</div>

<div>
    <span>Title: </span>
    <span id="book-title"></span>
</div>

<div>
    <span>Authors: </span>
    <span id="book-authors"></span>
</div>

<div>
    <span>Genre: </span>
    <span id="book-genre"></span>
</div>

<div>
    <a id="book-edit-link">
        <button type="button">Edit book</button>
    </a>
    <a href="/">
        <button type="button">Back</button>
    </a>
</div>

<div>

    <h4>Comments</h4>

    <div id="book-comments"></div>
</div>

<div>
    <span class="status_error" id="error_box" hidden ></span>
</div>

<script th:inline="javascript" defer>
    fillBookView([[${book.id}]])
</script>

</body>
</html>
