<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Authors</title>
    <link href="../static/styles.css" rel="stylesheet" th:href='@{/styles.css}'>
</head>
<body>

<h3>Authors</h3>

<div th:insert="~{top_menu :: top_menu}"></div>

<table class="list-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.getFullName}">Iuliana Cosmina</td>
    </tr>
    </tbody>
</table>

</body>
</html>
