<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create book</title>
    <link href="../static/styles.css" rel="stylesheet" th:href='@{/styles.css}'>
</head>
<body>

<h3>Create book</h3>

<form action="book_create.html"
      id="edit-form"
      th:action="@{/book/create}"
      th:method="post">

    <div>
        <label for="book-title-input">Title</label>
        <input id="book-title-input"
               name="title"
               type="text"
               value="">
    </div>

    <div>
        <label for="book-authors-input">Authors</label>
        <select id="book-authors-input"
                multiple
                name="authors">
            <option th:each="author: ${authors}"
                    th:selected="${author.isSelected}"
                    th:text="${author.getFullName}"
                    th:value="${author.getId}">
            </option>
        </select>
    </div>

    <div>
        <label for="book-genre-input">Genre</label>
        <select id="book-genre-input"
                name="genre">
            <option th:each="genre: ${genres}"
                    th:selected="${genre.isSelected}"
                    th:text="${genre.getName}"
                    th:value="${genre.getId}">
            </option>
        </select>
    </div>

    <div>
        <button class="btn" type="submit">Save</button>
        <a href="books_list.html" th:href="@{/}">
            <button type="button">Cancel</button>
        </a>
    </div>

</form>
</body>
</html>
